* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.flex {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.italic {
    font-style: italic;
}

a {
    color: #095393;
}

.boxShadow {
    box-shadow: .2vw .2vw black;
}

#navBar {
    background-color: #cccccc;
    margin: 0 15% 2vw 15%;
    color: black;
    font-size: 1.1vw;
    height: 6vw;
    padding:0 2%;
}

#navBar input {
    border: 1px solid black;
    height: 2.5vw;
    font-size: 1.1vw;
}

#searchBar {
    padding-left:1vw;
    width: 27vw;
    color:#adadad;
}

#loginButton {
    background-color: #2b77e4;
    width: 5vw;
    color:white;
}

#contentWrap {
    width: 70%;     /*=100-2*(navBar's left/right padding) */
    margin: 0 auto;
    font-size: 1.1vw;
    align-items: flex-start;
}

#contentLeft {
    width:60%;
}

#contentRight {
    width:30%;
}

.box {
    margin-bottom: 2vw;
    border: .3vw solid black;
    padding: 1.4vw 2.6vw 1.9vw 2.6vw;
}

.cardLeft {
    margin-right: 4vw;
    text-align: center;
}

.cardLeft h4 {
    margin-bottom: .4vw;
}

.cardLeft h5 {
    margin-bottom: 1.5vw;
}

.cardLeft input{
    background-color: #ffd866;
    padding:.5vw 1vw;
    font-size: 1vw;
}

#contentRight h2 span {
    font-size: 2vw;
}

#contentRight input{
    margin-top: 1vw;
    background-color: #92c47c;
    padding:.5vw 1vw;
    font-size: 1.3vw;
    width:100%;
}